@import "./../variable.scss";
.aa {
    margin: auto;
    margin-bottom: 30px;
}

.but {
    background-color: #1d2040;
    border-radius: 20px;
    border: 2px solid blue;
    margin: auto;
    width: 200px;
    height: 40px;
    @include titless(20px, #fefefe)
}