@import "./../../variable.scss";
.ff {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forbox {
    @include inboxss();
}

.centerr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgg {
    margin: auto;
    position: relative;
    border-radius: 50%;
}